@font-face {
    font-family: Pacifico;
    src: url('/font/Pacifico-Regular.ttf');
}

.logo {
    font-family: Pacifico;
    font-size: 30px;
    font-weight: 0;
    user-select: none;
    letter-spacing: -1.5px;
}