.gallery {
  display: -ms-grid;
  display: grid;

  grid-template-columns: repeat(3, minmax(auto, 293px));

  grid-template-rows: repeat(3, minmax(auto, 293));
  gap: 5px;
  height: auto;

  justify-content: center;

  .gallery__item {
    margin: 0;
    padding: 0;
    height: 100%;
    display: relative;
  }

  .gallery__img-link {
    display: block;
    position: relative;
    height: 100%;

    &:hover {
      transition: filter 0.2s;
      filter: brightness(86%);

      .gallery__overlay {
        transition: opacity 0.5s;
        opacity: 1;
      }
    }
  }

  .gallery__img-post {
    width: 100%;
    height: 100%;
  }

  .gallery__likes {
    left: 35%;
    transform: translate(-50%, 50%);

    &:hover {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
      color: #111;
    }
  }

  .gallery__comments {
    right: 35%;
    transform: translate(50%, 50%);

    &:hover {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
      color: #111;
    }
  }
}

/* likes comments */
.gallery__overlay {
  position: absolute;
  bottom: 12%;
  opacity: 0;
  font-size: 16px;
  padding: 5px;
  color: #767676;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px;
}
