@media only screen and (max-width: 768px) {
  .gallery {
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr;
  }
  .section-profile {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
  }
  .profile__user {
    width: fit-content;
    margin: auto;
    align-self: center;
    margin-bottom: 20px;
  }
  .friends {
    justify-content: center;
    transform: scale(0.9);
  }
  .profile__col-1 {
    width: 100%;
    justify-content: center;
    .profile__figure-container {
      margin-left: 50px;
      transform: scale(0.9);
    }
  }
  .modal__img-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    .modal__img {
      height: auto;
    }
  }
  .modal {
    .modal__left {
      left: 0;
    }
    .modal__right {
      right: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .gallery {
    grid-gap: 6px;
    grid-template-columns: 1fr;
  }
  .header {
    padding: 3px 0;
  }

  .nav__search-bar {
    width: 40px;
  }
  .nav > * {
    transform: scale(0.8);
  }
  .footer {
    flex-direction: column;
    font-size: 0.8em;
    padding-top: 5px;
    & div {
      text-align: center;
      p {
        margin: 5px 0;
      }
    }
  }
  .modal__img-container {
    .modal__img {
      height: 65%;
    }
  }
  .modal {
    .modal__left,
    .modal__right {
      font-size: 2.5em;
    }
  }
}
@media only screen and (max-width: 380px) {
  .nav__logo {
    transform: scale(0.8);
  }
  .nav {
    justify-content: space-between;
  }
  .nav__search-bar {
    display: none;
  }
  .modal__img-container {
    height: 60%;
    .modal__img {
      height: 75%;
    }
  }
}
