.friends {
  max-width: 900px;
  margin: auto;
  height: 200px;
  display: flex;
  .friends__figure {
    @include circularImgContainer(100px, 100px);
    margin: 0 20px;
    .friends__img {
      @include circularImg(90px, 90px);
    }
    .friends__description {
      position: absolute;
      bottom: -39px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
