.nav__icons__menu {
  z-index: 6;
  right: -30%;
  position: absolute;
  top: 163%;
  display: none;
  min-width: 240px;
  height: 20vh;
  background-color: white;
  box-shadow: -1px 0px 2px 0px rgba(84, 75, 84, 1);
  
  border-radius: 2%;
  
  &__resp{
    top:50%;
    height: 60vh;
  }
  
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    &__li {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 100%;
      padding: 5px;
      
      cursor: pointer;
      &:hover{
       background-color: lightskyblue; 
      }
    }

  }
  }




.nav__search-bar--active {
  animation: nav-animation 0.5s 1 0s;
  animation-fill-mode: forwards;
}

.nav__search-bar--remove {
  animation: nav-animation-remove 0.5s 1 0s;
  animation-fill-mode: forwards;
}

.nav__toggle-menu {
display: inline-block;  
animation: menuAnimationLoad 0.5s 1 0s ease;
overflow: hidden;

}


.nav__toggle-menu-responsive{
  display: inline-block;  
  overflow: hidden;
  animation: responsiveMenu 0.5s 1 0s ease;

  
  }
.modal-header {
  @include modalMX;
  visibility: visible;
  position: fixed;
  height: 100%;
  overflow: hidden;

}



@keyframes nav-animation {
  from {
    width: 20%;
  }
  to {
    width: 25%;
  }
}

@keyframes nav-animation-remove {
  from {
    width: 25%;
  }
  to {
    width: 20%;
  }
}



@keyframes menuAnimationLoad{
  0%{
    height: 0px;
    }
100%{
    height: 20vh;
    }
}


@keyframes responsiveMenu{
  0%{
    height: 0px;
    }
100%{
    height: 60vh;
    
}
}

