.nav__search-bar--active {
  animation: nav-animation 0.5s 1 0s;
  animation-fill-mode: forwards;
}

.nav__search-bar--remove {
  animation: nav-animation-remove 0.5s 1 0s;
  animation-fill-mode: forwards;
}
@keyframes nav-animation {
  from {
    width: 20%;
  }
  to {
    width: 25%;
    // box-shadow: 0px -1px 6px 2px darkgray;
  }
}

@keyframes nav-animation-remove {
  from {
    width: 25%;
    // box-shadow: 0px -1px 6px 2px darkgray;
  }
  to {
    width: 20%;
  }
}

.nav__icons__menu-profile {
  position: absolute;
  right: 0;
  top: 110%;
  display: none;
  min-width: 220px;
  height: 20vh;
  //   background-color: #d2eef1;
  background-color: #f1f1f1;
  box-shadow: -1px 0px 6px 2px rgba(84, 75, 84, 1);

  border-radius: 2%;
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;

    &__li {
      text-decoration: none;
      display: inline-block;
      font-size: 100%;
      cursor: pointer;
    }
  }
}

.nav__icons__menu-likes {
  position: absolute;
  right: 30%;
  top: 110%;
  display: none;
  min-width: 220px;
  height: 20vh;
  //   background-color: #d2eef1;
  background-color: #f1f1f1;
  box-shadow: -1px 0px 6px 2px rgba(84, 75, 84, 1);

  border-radius: 2%;
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;

    &__li {
      text-decoration: none;
      display: inline-block;
      font-size: 100%;
      cursor: pointer;
    }
  }
}

.toggle-menu {
  display: inline-block;
}
.modal-header {
  @include modalMX;
}
