@include scaleup();

.modal {
    @include modalMX;

    &__img-container {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 5;
        visibility: hidden;
        transform: translate(-50%, -50%);
        animation-fill-mode: forwards;
        width: 800px;
        height: 600px;
        background-color: red;
        :hover {
            cursor: pointer;
        }
        .modal__img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .modal__img-container--active {
        visibility: visible;
    }
    .modal__left,
    .modal__right {
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.664);

        &:hover {
            transition: background-color 0.7s, color 0.3s;
            background-color: rgba(0, 0, 0, 0.555);
            cursor: pointer;
            color: white;
        }
    }
    .modal__left {
        left: calc(50% - 400px);
        padding: 8px 10px 10px 5px;
    }
    .modal__right {
        right: calc(50% - 400px);
        padding: 8px 5px 10px 10px;
    }
}
.modal--active {
    visibility: visible;
}
.scaleup {
    animation: scale01 0.5s 1 forwards;
}
