@charset "UTF-8";
/*  <-- UTILITIES -->
    IMG:        https://unsplash.com/ 
                https://www.pexels.com/es-es/ 
    CROP:       https://www.remove.bg/
    GRADIENT:   https://cssgradient.io/
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #fafafa;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  background-color: #fafafa;
}

/* Line */
/* 
███╗   ██╗ █████╗ ██╗   ██╗
████╗  ██║██╔══██╗██║   ██║
██╔██╗ ██║███████║██║   ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝
██║ ╚████║██║  ██║ ╚████╔╝ 
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  
                           
*/
header {
  padding: 10px 0;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: #F8F8F8;
}

nav {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-bar {
  width: 200px;
  height: 35px;
  padding: 10px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.nav-icons i {
  margin: 0 5px;
  cursor: pointer;
}

.nav-icons i:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: rgba(47, 47, 47, 0.746);
}

.fa-user {
  color: #2f2f2f;
}

/* 
██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
                                                     
*/
.section-profile {
  padding-left: 5px;
  padding-top: 30px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.col-1 {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col-2 {
  width: 75%;
}

.profile-picture, .fig-profile-friend img {
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(73, 73, 73, 0.335);
  border-radius: 100%;
}

.fig-profile-pic, .fig-profile-friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid rgba(73, 73, 73, 0.335);
  width: 210px;
  height: 210px;
  border-radius: 100%;
  margin: 0;
}

.profile-picture img, .fig-profile-friend img img {
  display: block;
  padding: 5px;
  width: 130px;
  height: 190px;
  border: 1px solid rgba(73, 73, 73, 0.335);
  border-radius: 100%;
}

.following {
  display: inline-block;
  text-decoration: none;
  vertical-align: baseline;
  margin-top: -15px;
}

.following a {
  display: block;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  background-color: #0095F6;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 9px;
  border-radius: 7px;
}

.user-title {
  display: inline;
  font-style: normal;
  font-weight: lighter;
}

.user-desc {
  margin-bottom: 20px;
}

.follows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follows p {
  margin: 0 25px 20px 0;
}

.user-description > * {
  margin: 0;
}

/*  */
.grid-item {
  margin: 0;
  padding: 0;
  height: 100%;
  display: relative;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 293px))[3];
      grid-template-columns: repeat(3, minmax(auto, 293px));
  -ms-grid-rows: (minmax(auto, 293))[3];
      grid-template-rows: repeat(3, minmax(auto, 293));
  gap: 5px;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-friends {
  width: 900px;
  margin: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fig-profile-friend {
  position: relative;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fig-profile-friend img {
  width: 95px;
  height: 95px;
}

.fig-profile-friend .friends-desc {
  position: absolute;
  bottom: -39px;
  font-size: 14px;
  font-weight: bold;
}

/* 
███████╗██████╗ ██╗███████╗███╗   ██╗██████╗ ███████╗
██╔════╝██╔══██╗██║██╔════╝████╗  ██║██╔══██╗██╔════╝
█████╗  ██████╔╝██║█████╗  ██╔██╗ ██║██║  ██║███████╗
██╔══╝  ██╔══██╗██║██╔══╝  ██║╚██╗██║██║  ██║╚════██║
██║     ██║  ██║██║███████╗██║ ╚████║██████╔╝███████║
╚═╝     ╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═══╝╚═════╝ ╚══════╝
                                                     
*/
.line {
  max-width: 900px;
  margin: auto;
  height: 1px;
  background-color: rgba(97, 97, 97, 0.733);
}

.pubs-eti {
  text-align: center;
  margin-bottom: 13px;
  font-size: 14px;
}

.pubs-eti span {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  padding-top: 10px;
  margin-top: -1px;
}

.tag-active {
  color: black;
  border-top: 1px solid black;
}

.not-active {
  color: rgba(31, 31, 31, 0.664);
}

/* img gallery */
.img-link {
  display: block;
  position: relative;
  height: 100%;
}

.img-post {
  width: 100%;
  height: 100%;
}

.img-link:hover .overlay {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.img-link:hover {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-filter: brightness(86%);
  filter: brightness(86%);
}

/* likes comments */
.overlay {
  position: absolute;
  bottom: 12%;
  opacity: 0;
  font-size: 16px;
  padding: 5px;
  color: #767676;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px;
}

.likes:hover, .comments:hover {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  color: #111;
}

.likes {
  left: 35%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.comments {
  right: 35%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
/*# sourceMappingURL=style.css.map */