* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #fafafa;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
}

body .container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  background-color: #fafafa;
}

.line {
  max-width: 900px;
  margin: auto;
  height: 1px;
  background-color: rgba(97, 97, 97, 0.733);
}

.nav__search-bar--active {
  -webkit-animation: nav-animation 2s 1 0s linear;
          animation: nav-animation 2s 1 0s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav__search-bar--remove {
  -webkit-animation: nav-animation-remove 2s 1 0s linear;
          animation: nav-animation-remove 2s 1 0s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-animation {
  0% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
  }
  17% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  100% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
}

@keyframes nav-animation {
  0% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
  }
  17% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  100% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
}

@-webkit-keyframes nav-animation-remove {
  0% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  17% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  100% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
  }
}

@keyframes nav-animation-remove {
  0% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 35%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  17% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
    -webkit-box-shadow: 0px -1px 6px 2px darkgray;
            box-shadow: 0px -1px 6px 2px darkgray;
  }
  100% {
    -webkit-transform: rotate(xx);
            transform: rotate(xx);
    width: 20%;
  }
}

.nav__icons__menu-profile {
  position: absolute;
  right: 0;
  top: 110%;
  display: none;
  min-width: 220px;
  height: 20vh;
  background-color: #f1f1f1;
  -webkit-box-shadow: -1px 0px 6px 2px #544b54;
          box-shadow: -1px 0px 6px 2px #544b54;
  border-radius: 2%;
}

.nav__icons__menu-profile__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__icons__menu-profile__ul__li {
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
}

.nav__icons__menu-likes {
  position: absolute;
  right: 30%;
  top: 110%;
  display: none;
  min-width: 220px;
  height: 20vh;
  background-color: #f1f1f1;
  -webkit-box-shadow: -1px 0px 6px 2px #544b54;
          box-shadow: -1px 0px 6px 2px #544b54;
  border-radius: 2%;
}

.nav__icons__menu-likes__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav__icons__menu-likes__ul__li {
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
}

.toggle-menu {
  display: inline-block;
}

@-webkit-keyframes scale01 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes scale01 {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  visibility: hidden;
  color: white;
}

.modal__img-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 800px;
  height: 600px;
  background-color: red;
}

.modal__img-container :hover {
  cursor: pointer;
}

.modal__img-container .modal__img {
  display: block;
  width: 100%;
  height: 100%;
}

.modal .modal__img-container--active {
  visibility: visible;
}

.modal .modal__left,
.modal .modal__right {
  position: absolute;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.664);
}

.modal .modal__left:hover,
.modal .modal__right:hover {
  -webkit-transition: background-color 0.7s, color 0.3s;
  transition: background-color 0.7s, color 0.3s;
  background-color: rgba(0, 0, 0, 0.555);
  cursor: pointer;
  color: white;
}

.modal .modal__left {
  left: calc(50% - 400px);
  padding: 8px 10px 10px 5px;
}

.modal .modal__right {
  right: calc(50% - 400px);
  padding: 8px 5px 10px 10px;
}

.modal--active {
  visibility: visible;
}

.scaleup {
  -webkit-animation: scale01 0.5s 1 forwards;
          animation: scale01 0.5s 1 forwards;
}

.header {
  padding: 10px 0;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
          box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: #f8f8f8;
}

.header .nav {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
}

.header .nav__logo {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: -1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__logo .nav__title {
  margin: 0;
}

.header .nav__search-bar {
  display: inline-block;
  width: 170px;
  height: 35px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.header .nav__icons {
  position: relative;
}

.header .nav__icons-icon {
  margin: 0 5px;
  cursor: pointer;
}

.header .nav__icons-icon:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: rgba(47, 47, 47, 0.746);
}

.section-profile {
  padding-left: 5px;
  padding-top: 30px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.profile__col-1 {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__col-1 .profile__figure-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 100%;
  border: 1px solid rgba(73, 73, 73, 0.333);
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.profile__col-1 .profile__figure-container .profile__img {
  border: 1px solid rgba(73, 73, 73, 0.333);
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 190px;
  width: 190px;
}

.profile__col-2 {
  width: 75%;
}

.profile__col-2 .profile__user-title {
  display: inline-block;
  text-decoration: none;
  display: inline;
  font-style: normal;
  font-weight: lighter;
}

.profile__col-2 .user__following-button {
  display: inline-block;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  background-color: #0095f6;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 9px;
  border-radius: 7px;
}

.profile__col-2 .profile__followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__col-2 .profile__followers p {
  margin-right: 30px;
}

.profile__col-2 .profile__description {
  margin-bottom: 20px;
}

.profile__col-2 .profile__description > * {
  margin: 0;
}

.friends {
  max-width: 900px;
  margin: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends .friends__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 100%;
  border: 1px solid rgba(73, 73, 73, 0.333);
  cursor: pointer;
  margin: 0 20px;
}

.friends .friends__figure .friends__img {
  border: 1px solid rgba(73, 73, 73, 0.333);
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 90px;
  width: 90px;
}

.friends .friends__figure .friends__description {
  position: absolute;
  bottom: -39px;
  font-size: 14px;
  font-weight: bold;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 293px))[3];
      grid-template-columns: repeat(3, minmax(auto, 293px));
  -ms-grid-rows: (minmax(auto, 293))[3];
      grid-template-rows: repeat(3, minmax(auto, 293));
  gap: 5px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .gallery__item {
  margin: 0;
  padding: 0;
  height: 100%;
  display: relative;
}

.gallery .gallery__item :hover {
  cursor: pointer;
}

.gallery .gallery__img-link {
  display: block;
  position: relative;
  height: 100%;
}

.gallery .gallery__img-link:hover {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-filter: brightness(86%);
          filter: brightness(86%);
}

.gallery .gallery__img-link:hover .gallery__overlay {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.gallery .gallery__img-post {
  width: 100%;
  height: 100%;
}

.gallery .gallery__likes {
  left: 35%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.gallery .gallery__likes:hover {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  color: #111;
}

.gallery .gallery__comments {
  right: 35%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.gallery .gallery__comments:hover {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
  color: #111;
}

/* likes comments */
.gallery__overlay {
  position: absolute;
  bottom: 12%;
  opacity: 0;
  font-size: 16px;
  padding: 5px;
  color: #767676;
  background-color: rgba(255, 255, 255, 0.74);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px;
}

.pubs-eti {
  text-align: center;
  margin-bottom: 13px;
  font-size: 14px;
}

.pubs-eti span {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  padding-top: 10px;
  margin-top: -1px;
}

.tag-active {
  color: black;
  border-top: 1px solid black;
}

.not-active {
  color: rgba(31, 31, 31, 0.664);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f1f186;
  color: rgba(0, 0, 0, 0.733);
  padding: 0 20px;
  font-weight: bold;
}

.footer__cr-logo {
  color: black;
}

.footer__authors-logo {
  color: red;
}

@media only screen and (max-width: 768px) {
  .gallery {
    grid-gap: 3px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section-profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
  .profile__user {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .friends {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .profile__col-1 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile__col-1 .profile__figure-container {
    margin-left: 50px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (max-width: 480px) {
  .gallery {
    grid-gap: 6px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header {
    padding: 3px 0;
  }
  .nav__search-bar {
    width: 40px;
  }
  .nav > * {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.8em;
    padding-top: 5px;
  }
  .footer div {
    text-align: center;
  }
  .footer div p {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 380px) {
  .nav__logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__search-bar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */